$bgBackground: #21202e;
$alertBackground: #3b395e;
$headerBackground: #151523;
$numberBackground: #36364b;
$onlineBackground: #20655d;
$sidebarGradient1: #251829;
$sidebarGradient2: #0f0f1b;
$onlineGradient1: #343346;

$textColor1: #56baca;
$textColor2: #5d858d;
$textColor3: #384b51;

$activeColor1: #ecfabd;
$activeColor2: #2a2230;

$borderColor: #4a4a67;
$inputBorderColor1: #2d3c41;
$inputBorderColor2: #a0371d;
$inputBorderColor3: #3d5158;
$contentBorderColor: #2d2c41;

$color1: #7b8f38;
$color2: #bbf4ed;
$color3: #ff633d;
$color4: #15423d;
$color5: #10322e;
$color6: #00ab97;
$color7: #3e491b;
$color8: #303816;
$color9: #8fba00;
$color10: #371010;
$color11: #280b0b;
$color12: #174842;
$color13: #394319;
$color14: #611f0f;
$color15: #2d2d3c;
$color16: #322339;
$color17: #241729;
